extends base2
include mixins/comment

block content
    section#videoScreen
        div#videoContainer(data-id=video._id)
            video(src="/" + video.fileUrl)
            div#videoControls.videoControls
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play
                    div.videoControls__time
                        span#currenTime 00:00
                        span  / 
                        span#totalTime 00:00
                input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                div.videoControls__volume
                    input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    span#mute
                        i.fas.fa-volume-up
                div
                    span#fullScreen
                        i.fas.fa-expand
        div.video__data
            div.video__hashtags
                each hashtag in video.hashtags
                    span=hashtag
                    span=" "
            p.video__title=video.title
            div.video__info
                span.video__views #{video.meta.views} 회 • 
                small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
            small.video__owner 
                div 
                    if `${(video.owner.avatarUrl).substring(0,4)}` === "http"
                        img.video__owner__avatar(src=video.owner.avatarUrl)
                    else 
                        img.video__owner__avatar(src="/" + video.owner.avatarUrl)
                    div.video__owner__link
                        a(href=`/users/${video.owner._id}`)=video.owner.name
                        span 구독자 0명
                div 
                    if String(video.owner._id) === String(loggedInUser._id)
                        a(href=`${video.id}/edit`) Edit Video
                        br
                        a(href=`${video.id}/delete`) Delete Video
            small.video__description
                span=video.description
        if loggedIn
            div.video__add-comments
                if loggedInUser.socialOnly
                    img.video__add-comments__avatar(src=loggedInUser.avatarUrl)
                else 
                    img.video__add-comments__avatar(src="/" + loggedInUser.avatarUrl)
                form.video__comment-form#commentForm
                    textarea(cols="30", rows="10", placeholder="댓글 추가...")
                    button 댓글
        div.video__comments
            ul.video__comments__container
                each comment in comments.reverse()
                        +comment(comment)
                else 
                    span.empty__message No comments found.
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 